:root{
    --primery-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --contact-footer-color:rgba(255, 255, 255, 0.6);
    --second-primery-text-color: #757575;

}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background: var(--white-color);
    color: #212121;
    font-family:'Roboto';
    letter-spacing: 0.03em;

}
ul{
    list-style:none  
}
/* цвет основного текста #212121 */

/* вторичный цвет текста  #757575 */
/* белый #FFFFFF */
/* цвет -акцент #2196F3*/
/* цвет контактов в footer rgba(255, 255, 255, 0.6)*/
 

.header-logo {

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    text-decoration: none;

}

.header-logo:hover,
.header-logo:active,
.header-logo:focus{
     color:var(--accent-color);}
.logo-web{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
/*ссылки в шапке страницы */


/* наведения на ссылки страницы */
.header-menu .link:hover,
.header-menu .link:focus{
    color:var(--accent-color);
}
.header-menu{
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    
   
}
.header-menu .link{
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
.current{
    color:var(--accent-color)
}

/* общие войства контанктов */
.info:hover,
.info:focus{
    color:var(--accent-color)
}
.info{
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--second-primery-text-color)    
}

/* кнопки */
button :hover,
button :focus {
    color: var(--accent-color)}

/* рассположение меню*/
.menu .title:hover,
.menu .title:focus{
    color:var(--accent-color)
}
.menu .title{
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;

text-align: center;

color: var(--primery-text-color);
}
.title-all{
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
background-color: var(--accent-color);
color: #FFFFFF;

}
.all{
   background: var(--accent-color);
}
.veb{
    background: #F5F4FA;
    border-radius: 4px;
}
.options{
    background: #F5F4FA;
    border-radius: 4px;
    
}

.tech{

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
   
}

.box{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.caption:hover,
.caption:focus{
    color:var(--accent-color);
}
.caption{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);            
    }
.main-design{
    position: absolute;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.seafood{

width: 354px;
height: 404px;


background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;

}
.main-marketing{

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.main-options{
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.main-veb{

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.edition{

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.proect{

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.business{
    

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-boxs
}

.underbox:hover,
.nderbox:focus,
.underbox:active{
    color:var(--accent-color);
}
.underbox{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--second-primery-text-color)

} 

li:hover,
li:focus{
    color:#2196F3
}

.logo-web{
    color:var(--accent-color);
}
.header-logo:hover,
.header-logo:active,
.header-logo:focus{
    color:var(--accent-color);}

    
/* подвал сайта  */
footer{

background: #2F303A;

}
.footer-logo:hover,
.footer-logo:focus{
    color:var(--accent-color);
}
.footer-logo{

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color:white;
    text-decoration: none;
}
.adress{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
text-decoration: none;

}
/* общие свойства телефона и mail  */
.footer-link:hover,
.footer-link:focus{
    color:var(--accent-color);
}
.footer-link{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;s
letter-spacing: 0.03em;

color:var(--contact-footer-color);
text-decoration: none;
   
}
.social:hover,
.social:focus{
    color:var(--accent-color);
}
.footer-title{  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-title:hover,
.footer-title:focus{
    color: color:var(--accent-color);
}
.adress:hover,
.adress:focus{
    color: color:var(--accent-color);
}
.footer-button:hover,
.footer-button:focus{
    color: var(--accent-color)
}