.logo:hover,
.logo:focus,
.logo:active{
    color:#2196F3  
};
.logo-web{
    color:#2196F3 
}
.main-menu:hover,
.main-menu:focus,
.mein-menu:active{
    color:#2196F3 
}; 
.header-contacts:hover,
.header-contacts:hover,
.header-contacts:active{
    color:#2196F3 
};
