:root{
    --primery-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --contact-footer-color:rgba(255, 255, 255, 0.6);
    --background-grey: #F5F4FA;
    --caption-color: #757575;

}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background: var(--white-color);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing:0.03em;
    text-decoration: none;
    margin: 0;
    widows: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
    list-style:none 
}
/* цвет основного текста #212121 */

/* вторичный цвет текста  #757575 */
/* белый #FFFFFF */
/* цвет -акцент #2196F3*/
/* цвет контактов в footer rgba(255, 255, 255, 0.6)*/
 
/* логотип */
.header-logo {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    text-decoration: none;

}
.webstudio{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-logo:hover,
.header-logo:active,
.header-logo:focus{
     color:var(--accent-color);}
.logo-web{
    padding-top: 24px;
    padding-bottom: 25px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
/*ссылки в шапке страницы */


/* наведения на ссылки страницы */
.header-menu .link:hover,
.header-menu .link:focus{
    color:var(--accent-color);
}
.header-menu{
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    
   
}
.header-menu .studio{
    margin-right: 0px;
}
.header-menu .link{
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
.current{
    color:var(--accent-color)  
}
.studio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

color: var(--primery-text-color);
}
.header-menu .portfolio{
    color:var(--accent-color)
}

/* общие войства контанктов */
.mail:hover,
.mail:focus{
    color:var(--accent-color)
}

.mail{
    color:var(--second-primery-text-color);
}
.phone:hover,
.phone:focus{
    color:var(--accent-color)
}
.phone{
    color:var(--second-primery-text-color);
}
.info{
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
       
}
/* рассположение контента в heder */
.header-menu{
    display: flex;
    margin-left: 85px;
    padding-left: 0px;
}

.contacts{
    display: flex;
    padding-left: 0px;
    margin-left: auto;
  
}
.header-menu .item+.item{
    margin-left: 50px;
}
.contacts .info+.info{
    margin-left: 50px;
}
.auth-nav{
    display: flex;
    align-items: center;
   
}

/* main container */
.container{
    margin-top: 0px ;
    margin-bottom: 0px;
    background-color: var(--accent-color);
}
.section{

    margin-top: 0;
    margin-bottom: 0;

}
.section.skills{
   padding-top: 0px;
   padding-bottom: 0px;
}
.main-title{
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;  
    color: var(--white-color);
   
} 
.button{
    display:inline-block;
    border-radius: 4px;
    padding: 10 32;
    color:var(--white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.4 ;
    font-weight: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700px;
}
.button:hover,
.button:focus {
    background: var(--accent-color);
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.feature-list .title {
    color: var(--primary-text-color);
    text-transform: uppercase;
}
.text {
    color: var(--title-text-color);
    font-weight: 400;
}
.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}
.section-title {
    color:  var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.skill-list .title {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}
.team{
    margin-top: 20px;
    margin-bottom: 0px;
}
.team .title {
    
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;

color: var(--primery-text-color);
} 
.team .caption{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;

color:var(--caption-color);
}
.team .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.section-clients :hover,
.section-clients :focus {
    color: var(--accent-color);
}
.social-link :hover,
.social-link :focus {
    background: var(--accent-color);
}
footer{

    
    background: #2F303A;
}
.footer-logo:hover,
.footer-logo:focus{
    color:var(--accent-color);
}
.footer-logo{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--white-color);
    text-decoration: none;
}
.address{

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;


letter-spacing: 0.03em;

color:var(--white-color);
}
.address:hover,
.address:focus{
color:var(--accent-color);
}
.footer-link:hover,
.footer-link:focus{
    color:var(--accent-color);
}
.footer-link{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color:var(--contact-footer-color);
   
}
.social:hover,
.social:focus{
    color:var(--accent-color);
}
.footer-title{  
    font-family:'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer-title:hover,
.footer-title:focus{
    color:var(--accent-color);
}
.button.footer{
    padding: 10 29;
}